@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/*GENERAL STYLING*/
html {
    font-family: "Ubuntu", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #0d0007;
    margin: 0%;
    font-size: 1.5vw;
}

body.fade-out {
    opacity: .1;
}

h1 {
    text-align: center;
    margin-top: 3%;
}

.center {
    text-align: center;
}

.color_text {
    color: #F6FCDF;
}

q {
    font-style: italic;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

p {
    letter-spacing: .1vw;
    font-size: 2.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.video_text p {
    font-size: 25px;
}

footer {
    padding: 2%;
    background-color: #1A1A19;
    color: #F6FCDF;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/*NAV BAR*/
.navbar {
    overflow: hidden;
    background-color: #1A1A19;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    -webkit-animation: move_nav 2s;
    animation: move_nav 2s;
    user-select: none;
}

@keyframes move_nav {
    from {top:-100vw;}
    to {top: 0vw;}
}

.navbar a {
    float: left;
    display: block;
    color: #F6FCDF;
    padding: .75vw 1vw;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
}

.navbar a:hover {
    background-color: #F6FCDF;
    color: #859F3D;
    font-weight: bold;
    transition: 0.5s ease-in;
}

.navbar a.active {
    background-color: #31511E;
}

/*BACKGROUND VIDEO*/
#code_video {
    position: fixed;
    left: 19%;
    bottom: -6vh;
    min-width: 100%;
    z-index: -1;
}

.video_text {
    background: #0d00075e;
    width: 100%;
    height: 100vh;
    padding-top: 2vh;
    cursor: default;
}

/*SLIDESHOW STYLING*/
.mySlides {
    display: none;
}

#slideshow_container {
    width: 33vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

.contact_image img  {
    filter: hue-rotate(250deg);
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 19, 0.75);
    background-color: rgb(61, 133, 159);
}

.slideshow_images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 19, 0, .75);
    width: 100%;
    border-radius: 8px;
}

/*NEXT/PREV*/
.previous, .next {
    color: #1A1A19;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
    background-color: rgba(0, 19, 0, .8);
    color: #F6FCDF;
}

/*SLIDESHOW TEXT*/
.slide_text {
    color: #859F3D;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0, 19, 0, .75);
    font-weight: bold;
    border-radius: 0 0 7px 7px;
}

/*SLIDESHOW DOTS*/
.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1;
}

.active, .dot:hover {
    background-color: black;
}

/*CONTENT BOX STYLING*/
* {
    box-sizing: border-box;
}

.column1 {
    float: left;
    width: 50%;
    padding: 1.6%;
    padding-top: 1%;
    height: 550px;
    background-color: #31511E;
    color: #F6FCDF;
    overflow: auto;
}

.column1 a, footer a {
    color: #859F3D;
}

.column2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 550px;
    background-color: #859F3D;
}

.column_tall {
    height: 450px;
}

#about p {
    text-align: justify;
}

#about img {
    border-radius: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*CONTACT FORM*/

/*Button for opening the contact form*/
.Pop_Up_Button {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: #859F3D;
    color: #1A1A19;
    border: solid #1A1A19;
    cursor: pointer;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

/*movePopup animation moves button from off-screen*/
@keyframes movePopup {
    from {right: -40vw;}
    to{right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;}
    to{right: 1.75vw;}
}

/*Popup form*/
.form-popup {
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    right: .5vw;
}

.form_container {
    max-width: 49vw;
    padding: 1vw;
    background-color: #31511E;
    color: #F6FCDF;
}

/*Input fields*/
.form_container input[type=text] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: #859F3D;
    color: #F6FCDF;
    font-size: 1vw;
}

/*General button styling*/
button {
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}

/*Hover effects*/
button:hover, .form_container .btn:hover {
    color: #859F3D;
    background-color: #1A1A19;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: #F6FCDF;
}

/*Submit*/
.form_container .btn {
    background-color: #859F3D;
    color: #F6FCDF;
    border-color: #F6FCDF;
    margin-bottom: 1vh;
}

/*Close*/
.form_container .cancel {
    background-color: #1A1A19;
    color: #31511E;
    border-color: #F6FCDF;
}

.form_container .cancel:hover {
    color: #859F3D;
    background-color: #31511E;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: #1A1A19;
}

/*MEDIA QUERY SECTION*/
/*Paragraph font size*/
@media screen and (max-width: 576px) {
    #code_video {
        left: 0;
    }
}

@media screen and (max-width: 527px) {
    p {
        font-size: 3vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.1vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 1.99vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 1.8vw;
    }
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.65vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1.35vw;
    }
}

@media screen and (max-width: 1080px) {
    .navbar a {
        width: 20%;
        font-size: 2.5vw;
    }
    .quote {
        font-size: 3.5vw;
    }
    h1 {
        font-size: 4.5vw;
    }
}

@media screen and (min-width: 1725px) {
    .column1, .column2 {
        height: 550px;
    }
}

@media screen and (min-width: 2000px) {
    h1 {
        margin-top: 0;
    }
}

